@charset "UTF-8";

* {margin: 0; padding: 0; }

h1,h3,h4,h5,h6,article,section,aside{
	line-height:1.5em;
	font-family:"Assassin$";
}

.nivoSlider {
    position:relative;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0em;
    left:0em;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

.clear{
	clear:both;
}


body{
	width:90%;
	margin:0 auto;
	background:#0cc;
}

body img{
	width:90%;
}

header,content,aside,article{
	width:98%;
	padding:3% 2%;
	background:#fff;
	margin:0 auto;
}

header{
	height:1em;
	background:#ccc;
}

header ul{
	padding:0em;
	margin:0em;
	width:92%;
	list-style:none;
	
}

header li{
	width:100%;
}

header li a{
	float:left;
	display:block;
	padding:0 1%;
	text-decoration:none;
	color:#d57a21;
}

header a:hover{
	background:#e63636;
	color:#fff;
}

#active{
	background:#e63636;
	color:#fff;
}

h1{
	position:fixed;
	left:1000%;	
}



													/*                 Content            */
													
#content{
	width:98%;
	padding:2%;
	background:#fff;
}

  
													/*                 Index              */



.article{
	margin:0 auto;
	width:30%;
	margin-top:2%;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:.925em;
	text-align:left;
	line-height:1.5em;
}

#middle{
	border-left:#000 solid;
	border-right:#000 solid;
}


													/*                 About              */
h2{
	padding:0;
	margin:0 auto;
	font-family:"Assassin$";
	font-size:2.2em;
}

#gallery{
	margin:2% 0;
}

#gallery img{
	float:left;
	width:12em;
	height:10em;
	padding:.425%;
    border:2px #e5e5e5 solid;
    -moz-border-radius:8px;
    border-radius:8px;
	
}

#gallery img:hover{
	border:1% #0CC solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
	-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
}


													/*                 Explore              */
													
section p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:.9em;
	padding-left:1%;
}

p a{
	text-decoration:none;
	color:#e63636;
}


													/*                 Gardens              */
													

													
.pricing_table {
	font-family:Arial, Helvetica, sans-serif;
	line-height: 200%; 
	font-size: .13em; 
	margin: 0 auto; 
	width: 88%;  
}
		
.price_block {
	float:left;
	margin-left:.335%;
	text-align: center; 
	width: 33%; 
	color: #fff; 
	list-style-type: none; 
	box-sizing: border-box;
	margin-bottom: 1%; 
	border-bottom: .125em solid transparent; 
}
		
		/*Price heads*/
.pricing_table h3 {
	text-transform: uppercase; 
	padding: 2% 0; 
	background: #d57a21; 
}
		
		/*Price tags*/
.price {
	display: table; 
	background: #444; 
	width: 100%; 
	height: 5em; 
}
		
.price_figure {
	background:#e63636;
	font-size: 10em; 
	text-transform: uppercase; 
	vertical-align: middle; 
	display: table-cell;
}
		
.price_number {
	font-weight: bold; 
	display: block;
}

.price_tenure {
	font-size: 1.5em; 
}
		
		/*Features*/
.features {
	background: #DEF0F4; 
	color: #000;
}
		
.features li {
	padding: 1em 2em;
	border-bottom: 1px solid #ccc; 
	font-size: 6.5em; 
	list-style-type: none;
}
		
.footer {
	padding: .16em; 
	background: #DEF0F4;
}
		
.price_block:hover {
	box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); 
	transform: scale(1.04) translateY(-5px); 
	z-index: 1; 
	border-bottom: 0 none;
}

.price_block:hover .price {
	background:linear-gradient(#DB7224, #F9B84A); 
	box-shadow: inset 0 0 45px 1px #DB7224;
}
		
.price_block:hover h3 {
	background: #222;
}
	
.price_block:hover .action_button {
	background: linear-gradient(#F9B84A, #DB7224); 
}	


													/*                 form               */
													

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="tel"], #contact-form input[type="url"], #contact-form textarea, #contact-form button[type="submit"] {
	font-fmaily:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#contact-form {
	text-shadow:0 .25em 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:25px;
}

#contact-form h3 {
	color:#d57a21;
	display:block;
	font-size:2.029em;
}

#contact-form h4 {
	font-family:Arial, Helvetica, sans-serif;
	margin:1% 0 1%;
	display:block;
	font-size:.8em;
}

#contact-form label span {
	
	color:#991D57;
	display:block;
	margin:1% 0;
	font-weight:900;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="tel"], #contact-form input[type="url"], #contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:.125em solid #CCC;
	background:#FFF;
	margin:0 0 1%;
	padding:1%;
}

#contact-form input[type="text"]:hover, #contact-form input[type="email"]:hover, #contact-form input[type="tel"]:hover, #contact-form input[type="url"]:hover, #contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:.125em solid #AAA;
}

#contact-form textarea {
	height:1.5em;
	max-width:100%;
}

#contact-form button[type="submit"] {
	width:100%;
	border:none;
	background:#d57a21;
	color:#FFF;
	margin:0 0 1%;
	padding:10px;
	border-radius:1%;
}

#contact-form button[type="submit"]:hover {
	background-color:#e63636;
	background-color:#e63636;
	background-color:#e63636;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}


#contact-form input:focus, #contact-form textarea:focus {
	outline:0;
	border:.125em solid #999;
}

::-webkit-input-placeholder {
    color:#e63636;
}

:-moz-placeholder {
    color:#e63636;
}

::-moz-placeholder {
    color:#e63636;
}

:-ms-input-placeholder {
    color:#e63636;
}


													/*                 footer             */

footer{
	background:#ccc;
	width:98%;
	padding:3% 2%;
	height:1em;
}

footer ul{
	padding:0;
	margin:0;
	list-style:none;
}

footer li{
	display:inline;
}

footer li a{
	float:left;
	display:block;
	padding:0 1%;
	text-decoration:none;
	color:#d57a21;
}

footer a:hover{
	background:#e63636;
	color:#fff;
}




													/* 				MEDIA QUERIES			*/
