@charset "UTF-8";

* {margin: 0; padding: 0; }

h1,h3,h4,h5,h6,article,section,aside{
	line-height:1.5em;
	font-family:"Assassin$";
}

.nivoSlider {
    position:relative;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0em;
    left:0em;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

.clear{
	clear:both;
}


body{
	width:90%;
	margin:0 auto;
	background:url(../images/background_trans.png);
	background-color:#FBF7C0;
}

a img{
	width:80%;
}

header{
	width:98%;
	padding:3% 2%;
	margin:0 auto;
	height:1em;
	background:#283240;
}

header ul{
	padding:0em;
	margin:0em;
	width:92%;
	list-style:none;
}

header li{
	width:100%;
}

header li a{
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	display:block;
	padding:0 1%;
	text-decoration:none;
	color:#fff;
}

header a:hover{
	color:#E5C967;
	text-decoration:underline;
}

.active{
	color:#E5C967;
	text-decoration:underline;
}

h1{
	position:fixed;
	left:1000%;	
}



													/*                 Content            */
													
#content{
	width:98%;
	padding:2%;
	background:#fff;
}

#right{
	width:30%;
	padding-right:1.5em;
}

#middle{
	padding:0 1.5em;
	border-right:#000 solid .215em;
	border-left:#000 solid .215em;
}

#left{
	width:30%;
	padding-left:1.5em;
}

.article{
	width:30%;
	margin:0 auto;
	float:left;
	margin:1em 0;
	padding:0;
}


													/*                 About              */
h2{
	padding:0;
	margin:0 auto;
	font-family:"Assassin$";
	font-size:2.2em;
}



.article2{
	margin:0 auto;
	width:44%;
	float:left;
	margin:1em 0;
	padding:0 2.6em .25em 0;
}

#gallery{
	margin:0 auto;
	padding:0;
}

#gallery img{
	float:left;
	width:12%;
	height:9em;
	margin:0 2em 0 0;
	padding:.5em.5em;
    border:2px #e5e5e5 solid;
    -moz-border-radius:8px;
    border-radius:8px;
	
}

#gallery img:hover{
	border:.25em #0CC solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}




													/*                 Explore              */
#title{
	padding:0 0 1em 0;
}

#gallery2{
	width:100%;
	margin:0 auto;
	padding:0 0 1em 0;
}

#gallery2 img{
	float:left;
	width:12%;
	height:9em;
	margin:0 1.98em 2em 1em;
	padding:.5em;
    border:2px #e5e5e5 solid;
    -moz-border-radius:8px;
    border-radius:8px;
	
}

#gallery2 img:hover{
	border:.25em #0CC solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}


section p{
	font-family:Arial, Helvetica, sans-serif;
	padding:1em 0 0 0;
}

p a{
	text-decoration:none;
	color:#e63636;
}


													/*                 Gardens              */
													

.button {
	width:30%;
	background:#659EBF;
	display: inline-block;
	outline:#659EBF;
	text-align: center;
	text-decoration: none;
	font: 1.25em Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color:#283240;
}

.button:hover {
	color:#fff;
	text-decoration: none;
	background:#283240;
}

.button:active {
	position: relative;
	top: 1px;
}
													
.pricing_table {
	font-family:Arial, Helvetica, sans-serif;
	line-height: 200%; 
	font-size: .13em; 
	margin: 0 auto; 
	width: 88%;  
}
		
.price_block {
	float:left;
	margin-left:.3%;
	text-align: center; 
	width: 33%; 
	color: #fff; 
	list-style-type: none; 
	box-sizing: border-box;
	margin-bottom: 1%; 
	border-bottom: .125em solid transparent; 
}
		
		/*Price heads*/
.pricing_table h3 {
	text-transform: uppercase; 
	padding: 2% 0; 
	background: #659EBF; 
}
		
		/*Price tags*/
.price {
	display: table; 
	background: #444; 
	width: 100%; 
	height: 5em; 
}
		
.price_figure {
	background:#E5C967;
	font-size: 10em; 
	text-transform: uppercase; 
	vertical-align: middle; 
	display: table-cell;
}
		
.price_number {
	font-weight: bold; 
	display: block;
}

.price_tenure {
	font-size: 1.5em; 
}
		
		/*Features*/
.features {
	background: #DEF0F4; 
	color: #000;
}
		
.features li {
	padding: 1em 2em;
	border-bottom: 1px solid #ccc; 
	font-size: 6.5em; 
	list-style-type: none;
}
		
.footer {
	padding: .16em; 
	background: #DEF0F4;
}
		
.price_block:hover h3 {
	background: #283240;
	color:#fff;
}

#pad{
	clear:both;
	padding:2em 0 2em 0;
}



													/*                 form               */
													

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="tel"], #contact-form input[type="url"], #contact-form textarea, #contact-form button[type="submit"] {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#contact-form {
	text-shadow:0 .25em 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

#contact-form h3 {
	color:#000;
	display:block;
	font-size:2.029em;
}

#contact-form h4 {
	font-family:Arial, Helvetica, sans-serif;
	margin:1% 0 1%;
	display:block;
	font-size:.8em;
}

#contact-form label span {
	
	color:#283240;
	display:block;
	margin:1% 0;
	font-weight:900;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="tel"], #contact-form input[type="url"], #contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:.125em solid #CCC;
	background:#FFF;
	margin:0 0 1%;
	padding:1%;
}

#contact-form input[type="text"]:hover, #contact-form input[type="email"]:hover, #contact-form input[type="tel"]:hover, #contact-form input[type="url"]:hover, #contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:.125em solid #AAA;
}

#contact-form textarea {
	height:1.5em;
	max-width:100%;
}

#contact-form button[type="submit"] {
	width:100%;
	border:none;
	background:#659EBF;
	color:#FFF;
	margin:0 0 1%;
	padding:10px;
	border-radius:1%;
}

#contact-form button[type="submit"]:hover {
	background-color:#283240;
	background-color:#283240;
	background-color:#283240;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}


#contact-form input:focus, #contact-form textarea:focus {
	outline:0;
	border:.125em solid #283240;
}

::-webkit-input-placeholder {
    color:#283240;
}

:-moz-placeholder {
    color:#283240;
}

::-moz-placeholder {
    color:#283240;
}

:-ms-input-placeholder {
    color:#283240;
}


													/*                 footer             */

footer{
	background:#283240;
	width:98%;
	padding:3% 2%;
	height:1em;
}

footer ul{
	padding:0;
	margin:0;
	list-style:none;
}

footer li{
	display:inline;
}

footer li a{
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	display:block;
	padding:0 1%;
	text-decoration:none;
	color:#fff;
}

footer a:hover{
	color:#E4C866;
}




													/* 				MEDIA QUERIES			*/
													
@media screen and (min-width :768px) and (max-width : 959px)  {
.article{ 
	width:100%;
}

#right, #left{ 
	width:100%;
	padding:0;
	margin:0;
}

#middle{
	border:none;
	padding:0;
	margin:0;
}

.article2{ 
	width:100%;
}

#gallery{
	height:10em;
	padding:0;
	margin:0 auto;
	
}

#gallery img{
	margin:1em 3em 0 0;
	width:8em;
	height:8em;	
}

#gallery2{
	height:10em;
	padding:0;
	margin:0 auto;
	
}

#gallery2 img{
	margin:1em 3em 0 0;
	width:8em;
	height:8em;
	
}

.price_block {
	float:left;
	margin-left:.3%;
	text-align: center; 
	width: 30%; 
	color: #fff; 
	list-style-type: none; 
	box-sizing: border-box;
	margin-bottom: 1%; 
	border-bottom: .125em solid transparent; 
}

}


/* 		MOBILE  LANDSCAPE		   */
@media screen and (min-width : 480px) and (max-width : 767px) {  
.article{ 
	width:100%;
}

#right, #left{ 
	width:100%;
	padding:0;
	margin:0;
}

#middle{
	border:none;
	padding:0;
	margin:0;
}

.article2{ 
	width:100%;
}

#gallery{
	height:10em;
	padding:0;
	margin:0 5em 0 0;
	
}

#gallery img{
	margin:1em 3em 0 0;
	width:8em;
	height:8em;
	margin:0 0 2em 7em;
}

#gallery2{
	height:10em;
	padding:0;
	margin:0;
	
}

#gallery2 img{
	margin:1em 3em 0 0;
	width:8em;
	height:8em;
	
}

.price_block {
	float:left;
	text-align: center; 
	width: 90%; 
	color: #fff; 
	list-style-type: none; 
	box-sizing: border-box;
	margin-bottom: 1%; 
	border-bottom: .125em solid transparent; 
}

}

/* 		MOBILE  PORTRAIT		   */
@media screen and (min-width : 0px) and (max-width : 479px) {  
.article{ 
	width:100%;
}

#right, #left{ 
	width:100%;
	padding:0;
	margin:0;
}

#middle{
	border:none;
	padding:0;
	margin:0;
}

.article2{ 
	width:100%;
}

#gallery{
	height:10em;
	padding:0;
	margin:0;
	
}

#gallery img{
	margin:1em 3em 0 0;
	width:8em;
	height:8em;
	
}

#gallery2{
	height:10em;
	padding:0;
	margin:0;
	
}

#gallery2 img{
	margin:1em 3em 0 0;
	width:8em;
	height:8em;
	
}

.price_block {
	float:left;
	margin-left:.3%;
	text-align: center; 
	width: 100%; 
	color: #fff; 
	list-style-type: none; 
	box-sizing: border-box;
	margin-bottom: 1%; 
	border-bottom: .125em solid transparent; 
}

}
																									
